body {
    background-color: #1f1f1f;
    overflow: hidden;
}

img {
    position: absolute;
    width: 400px;
    display: none;
    left: 750px;
    top: 310px;
}

h1 {
    text-align: center;
    color: white;
    margin-top: 120px;
    font-size: 5em;
}

h2 {
    text-align: center;
    color: white;
    font-size: 2em;
}