body {
    background-color: #1f1f1f;
    overflow: hidden;
}

.cQuiz img {
    position: absolute;
    top: 200px;
    left: 500px;
    width: 1000px;
}

.cQuiz h1 {
    text-align: center;
    color: white;
    font-size: 3em;
    
}

.YesBT {
    position: absolute;
    left: 600px;
    width: 300px;
    height: 100px;
    font-size: 3em;
}

.NoBT {
    position: absolute;
    left: 1100px;
    width: 300px;
    height: 100px;
    font-size: 3em;
}

#Quiz1YesIMG {
    display: none;
}


