.test {
  display: block;
}

html,
body {
  height: 100%;
  background-color: #1F1F1F;
  /* overflow: hidden; */
}

body {
  font-size: 3em;
}

br {
  display: block;
}

img, body {
  user-select: none;
}

img {
  position: absolute;
}

p , body{
  user-select:none;
  -webkit-user-drag: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -khtml-user-select: none;
}

@font-face {
  font-family: 'NeoDunggeunmoPro-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/NeoDunggeunmoPro-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


/*====아래부터 작성=====================================================================================*/

.GameScreen {
  background-color: gray;
  background-image: url('./StartScreenImage/BackGround.jpg');
  background-image: url('./StarRail_Image/StarRailBackGround.png');
  /* background-image: url('./StarRail_Image/StarRailBackGround.png'); */
  background-size: cover;
  display: flex;
  position: relative;
  overflow: hidden;
  width: 90%;
  height: 90%;
  top: 3%;
  left: 5%;
  border: 3px solid beige;
  z-index: 0;
}
/*======================================================================================*/
.StartScreen {
  width: inherit;
  height: inherit;
}

.StartScreen h2 {
  color: red;
  -webkit-text-stroke: 1px white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  animation: MoveH2 1s infinite;
}

.StartScreen button {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: scale(5);
  animation: ButtonBreath 1s infinite;
  background-color: yellow;
  border: 0.5px solid greenyellow;
  color: white;
  -webkit-text-stroke: 0.5px #1F1F1F;
}

#ArmorCapybara {
  margin: 0 auto;
  transform: translate(50%, 70%);
  width: 400px;
  height: 448px;
}

#ArmorCapybara:hover {
  transform: translate(0%, 70%);
  width: 2000px;
  height: 448px;
}

@keyframes MoveH2 {
  0% { top: 50%}
  50% { top: 40%;}
  100% { top: 50%;}
}

@keyframes ButtonBreath {
  0%  {transform: scale(5, 5);}
  50%  {transform: scale(4.8, 4.8);}
  100%  {transform: scale(5, 5);}
}

/*StartScreen===========================================================*/
.cStoryBox img {
  top: 55%;
  left: 10%;
  width: 1700px;
  animation: StoryBoxUP 0.3s forwards;
}

.cStoryBox p,h6 {
  position: absolute;
  color: white; 
}

.cStoryBox p {
  top: 560px;
  left: 11%;
  font-size: 0.7em;
}

.cStoryBox h6 {
  top: 46%;
  left: 16%;
}

@keyframes StoryBoxUP {
  0% { transform: scale(0,0);}
  100% {transform: scale(1,1);}
}

#RPGScreen {
  display: none;
}

.cRPGScreen img {
  position: absolute;
}

#RPGCharacter {
  position: absolute;
  transform: scale(0.3);
  top: 150px;
  left: -20px;
}

#CapybaraSword {
  transform: scale(0,0);
  top: 400px;
  left: 500px;
  z-index: 1;
}

#CapybaraHat {
  transform: scale(0.05,0.05);
  top: -630px;
  left: -650px;
  display: none;
}

#HatuneCapybara {
  transform: scale(0.2,0.2);
  left: 1150px;
  top: 100px
}

.HatuneKaiTen {
  animation-name: HatuneKaiTen;
  animation-duration: 0.2s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

.HatuneFastKaiTen {
  animation-name: HatuneKaiTen;
  animation-duration: 0.08s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

#HatuneHand {
  display: none;
  z-index: 1;
  left: 1300px;
  top: 350px;
  animation: HatuneHandTrembling 0.2s infinite forwards;
}

#GravityEffect {
  display: none;
  z-index: 0;
  transform: scale(0.4,0.4);
  left: 860px;
  opacity: 0.4;
  top: -50px;

  animation-name: GravityTrembling;
  animation-duration: 0.3s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

@keyframes GravityTrembling {
  0% {transform: scale(0.4,0.4); left: 860px; top: -58px;}

  100% {transform: scale(0.4,0.4); left: 858px; top: -59px;}
}

@keyframes HatuneHandTrembling {
  0% {left: 1300px; top: 350px; transform: scale(1,1);}

  100% {left: 1299px; top: 349px; transform: scale(1,1);}
}

.animate-story-box {
  animation-name: StoryBoxDown;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes HatuneKaiTen {
  0% {transform: rotateZ(0deg)scale(0.2,0.2);}

  100% {transform: rotateZ(360deg)scale(0.2,0.2);}
}

@keyframes StoryBoxDown {
  0% { transform: scale(1,1);}
  100% {transform: scale(0,0);}
}

@keyframes SwordRightAttack {
  0% { transform: 
    scale(0,0)
    rotate(0deg)
    ;}

  50% { transform: 
    scale(13,13)
    rotate(45deg)
  ;}

  70% { transform: 
    scale(0.001,0.001)
  ;}

  100% { transform:
    scale(0,0)
    rotate(0)
    ;}
} 

@keyframes SwordLeftAttack {
  0% { transform: 
    scale(0,0)
    rotate(0deg)
    ;}

  50% { transform: 
    scale(-13,13)
    rotate(45deg)
  ;}

  70% { transform: 
    scale(-0.001,0.001)
  ;}

  100% { transform:
    scale(0,0)
    rotate(0)
    ;}
}

.SwordRightAttack {
  animation-duration: 2s;
  animation-name: SwordRightAttack;
  animation-fill-mode: forwards;
}

.SwordLeftAttack {
  animation-duration: 2s;
  animation-name: SwordLeftAttack;
  animation-fill-mode: forwards;
}

@keyframes StoryAttack {
  0% { transform: 
    scale(0,0)
    rotate(0deg)
  ;}
  
  99.3% { transform: 
    scale(13,13)
    rotate(45deg)
  ;}  

  100% { transform: 
    scale(3,13)
    rotate(45deg)
  ;}
}

.StoryAttack {
  animation-duration: 1s;
  animation-name: StoryAttack;
  animation-fill-mode: forwards;
}

.triangle{
  position: absolute;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 40px solid white;
  transform: rotate(180deg);
  top: 720px;
  left: 1330px;
  opacity: 0.5;
  animation: trianglebreath 2s ease infinite;
}

@keyframes trianglebreath {
  0% {transform: scale(1,1) rotate(180deg)
    ;}
  50% {transform: scale(0.7,0.7) rotate(180deg);}
  100% {transform: scale(1,1) rotate(180deg);}
}

#KingCapybara {
  position: absolute;
  width: 100px;
  left: 1500px;
  top: 450px;
  z-index: 0;
}

/*마왕 조우======================================*/

#MaWangSee, #MaWangAttack {
  display: none;
}

#MaWangStoryBox {
  top: 55%;
  left: 10%;
  width: 1700px;
  animation: StoryBoxUP 0.3s forwards;
}

/*마왕 전투==========================*/

.MaWangAttack {
  display: none; 
}

#MaWangAttackStoryBox {
  top: 55%;
  left: 10%;
  width: 1700px;
  animation: StoryBoxUP 0.3s forwards;
}


.cCapybaraTrans img {
  position: absolute;
  display: none;
}

.cCapybaraTrans h1 {
  display: none;
  position: absolute;
  color: white;
  font-family: NeoDunggeunmoPro-Regular;
  transform: scale(7,7);
  top: 35%;
  
  animation: FontScale 1.5s forwards;
  display: none;
}

#qus {
  left: 20%;
}

#tls {
  right: 20%;
}

#TrailblazerCapybara {
  left: 650px;
  top: 150px;
  animation: CapybaraTransMove 3s forwards;
}

#TrailblazerHair {
  transform: scale(0.5,0.5);
  top: -253px;
  left: -115px;
  animation: TrailblazerdCapybaraHair 2s forwards;
}

#TrailblazerWeapon {
  transform: scale(0.5,0.5) rotate(170deg);
  left: 550px;
  top: -250px;
  animation: TrailblazerdWeapon 2s forwards;
}

#Glass {
  transform: scale(0.5,0.3);
  top: -290%;
  left: -200%;
  opacity: 0.8;
  animation: GlassBreaking 1s forwards;
}

#Heart {
  width: 600px;
  left: 33%;
  top: 150px;
  animation: Heart 2s forwards;
}

#GlitterEffect {
  left: 20%;
  opacity: 0;
  animation: Transparent 2s forwards;
}

@keyframes CapybaraTransMove {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
  0% {left: 0px;}
  100% {left: 650px;}
}

@keyframes TrailblazerdCapybaraHair {
  from { transform: rotate(0deg) scale(0.5,0.5);}
  to { transform: rotate(0deg) scale(0.5,0.5);}
  0% {left: 2000px;}
  100% {left: -115px; }
} 

@keyframes TrailblazerdWeapon {
  from { top: 500px; transform: rotate(170deg) scale(0.5);}
  to { top: -250px; transform: rotate(530deg) scale(0.5);}
}

@keyframes Transparent {
  from { opacity: 0;}
  to { opacity: 0.5;}
}

@keyframes FontScale {

  0% { transform: scale(0,0);}

  10% { transform: scale(7,7);}
  100% { transform: scale(7,7);}
}

@keyframes Heart {
  0% {
    opacity: 0;
    width: 0px;
  }
  70% {
    top: 10px;
    left: 15%;
    opacity: 0.8;
    width: 1200px;
  }
  100% {
    top: 10px;
    left: 15%;
    opacity: 0.8;
    width: 1200px;
  }
}

/*==============================*/
